/* skills */
.border {
    border: 2px dashed black;
}



/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generics */
body {
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: white;
    height: 80px;
    position: fixed;
    width: 100%;
}

header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar-left {
    flex-basis: 50%;


}

.navbar-right {
    flex-basis: 50%;
}

.navbar img {
    display: inline-block;
    height: 20px;
}

.navbar-right ul {
    justify-content: flex-end;
}







/* utilis */

.container-big {
    max-width: 1200px;
    margin: 0 auto;
}

.container-mid {
    max-width: 1000;
    margin: 0 auto;
}

.container-small {
    max-width: 900px;
    margin: 0 auto;
}

ul {
    display: flex;
    /* justify-content: center; */
}

li {
    list-style: none;
    margin: auto 10px;
    font-weight: lighter;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.btn-blu {
    background-color: #0160FF;
    color: white;
    border: 0;
    padding: 10px 20px;
    cursor: pointer;
}