/* skills */
.border {
    border: 2px dashed black;
}

.bg-blul {
    background-color: #B3D0E7;
    margin: 50px auto;
    height: 520px;
}



/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generics */
body {
    font-family: 'Open Sans', sans-serif;
}

header {}

header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: white;
    height: 80px;

}

.navbar-left {
    flex-basis: 50%;


}

.navbar-right {
    flex-basis: 50%;
}

.navbar img {
    display: inline-block;
    height: 20px;
}

.navbar-right ul {
    justify-content: flex-end;
}


/* !JUMBO */


.jumbo .bg-blul {

    /* max-height: 600px; */
}

.jumbo-content {
    display: flex;
    height: 100%;
}

.jumbo-text {
    text-align: left;
    font-size: 32px;
    margin-top: 70px;
    margin-bottom: 15px;

}

.jumbo-text h1 {
    margin-top: 50px;
}

.jumbo-col-left {
    flex-basis: 30%;

}

/* 
.jumbo-left-list {
    position: relative;
} */


.jumbo-left-text {
    font-size: 17px;
    text-align: left;
}

.jumbo-buttons {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.jumbo-buttons li {
    margin: 6px 0;

}

.jumbo-col-right {
    flex-basis: 70%;
    position: relative;

}

.jumbo-right-img {
    height: 380px;
    position: absolute;
    top: 0;
    left: 0;
}

/* ! main */
main {
    overflow: auto;

}

.main-content {
    margin: 40px auto;
}

.main-content-title h1 {
    font-size: 30px;
}

.main-content-col {
    display: flex;
    gap: 5px;
    margin-top: 20px;

}

.main-col {
    flex-basis: calc(100% / 3);
    height: 300px;

}

.main-uni-col {
    height: 100px;
    margin: 20px 0;
}

.main-partner {
    display: flex;
}

.main-partner-img {
    flex-basis: 60%;
    height: 200px;
    background-color: red;

}

.main-partner-text {
    flex-basis: 40%;
    height: 200px;
    background-color: blue;
}

.main-row {
    display: flex;

    gap: 5px;
}

.main-col-card {
    flex-basis: calc(100% / 3);
}

.main-card {

    margin: 20px 0;
    height: 300px;
}

/* utilis */

.container-big {
    max-width: 1200px;
    margin: 0 auto;
}

.container-mid {
    max-width: 1000px;
    margin: 0 auto;
}

.container-small {
    max-width: 900px;
    margin: 0 auto;
}

ul {
    display: flex;
    /* justify-content: center; */
}

li {
    list-style: none;
    margin: auto 10px;
    font-weight: lighter;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.btn-blu {
    background-color: #0160FF;
    color: white;
    border: 0;
    padding: 10px 20px;
    cursor: pointer;
}

.btn {
    padding: 10px 18px;
    margin: 10px 0;
    cursor: pointer;
}

.fa-arrow-down {
    font-size: 35px;
    margin: 5px 0;
}