/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generics */
body {
    font-family: 'Open Sans', sans-serif;
}

/* utilis */

.container-big {
    max-width: 1100px;
    margin: 0 auto;
}

.container-small {
    max-width: 1100px;
    margin: 0 auto;
}